<form>
	<div class="form-group">
		<input type="hidden" ng-model="formData.id">
		
		<input type="text"  class="form-control input-lg text-center" placeholder="Nombre" ng-model="formData.name">
		<input type="text"  class="form-control input-lg text-center" placeholder="Dirección" ng-model="formData.address">
		<input type="text"  class="form-control input-lg text-center" placeholder="Telefonos" ng-model="formData.phones">
		<input type="text"  class="form-control input-lg text-center" placeholder="Contacto Alternativo" ng-model="formData.contactInfo">
		<input type="text"  class="form-control input-lg text-center" placeholder="CUIL" ng-model="formData.cuil">
		<input type="text"  class="form-control input-lg text-center" placeholder="Dirección" ng-model="formData.deParteDe">

		<input type="text" class="form-control input-lg text-center" placeholder="Descripción" ng-model="formData.description">
	</div>
</form>
